<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Todo<span>List</span></div>
</div>
<br>
<div class="login">
    <form action="#" method="get"  autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Email" name="email" [ngClass]="{'is-invalid': submitted && f.email.errors}" formControlName="email"><br>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <span class="show-error" *ngIf="submitted && f.email.errors.required">Email is required.<br></span>
            <span class="show-error" *ngIf="submitted && f.email.errors.email">Please enter a valid email address.<br></span>
        </div>  
        <input type="password" placeholder="Password" name="password" [ngClass]="{'is-invalid': submitted && f.password.errors}" formControlName="password"><br>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <span class="show-error" *ngIf="submitted && f.password.errors.required">Password is required.<br></span>
        </div>   
        <input type="password" placeholder="Confirm Password" name="confirm_password" [ngClass]="{'is-invalid': submitted && f.confirm_password.errors}" formControlName="confirm_password"><br>
        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
            <span class="show-error" *ngIf="submitted && f.confirm_password.errors.required">Confirm password is required.<br></span>
            <span class="show-error" *ngIf="submitted && f.confirm_password.errors.mustMatch">Confirm password does not match. <br></span>
        </div>
        <input type="submit" value="Register" id="submitBtn">
        <input type="submit" value="Login" [routerLink]="['/login']"><br>
    </form>    
</div>