<div class="page-wrapper">
    <div class="list-input-box">
        <form autocomplete="off" [formGroup]="taskForm" (ngSubmit)="taskFormSubmit()" action="#" method="get" style="display:flex;">
            <input type="text" class="input-control" placeholder="Add task" [ngClass]="{'is-invalid': submittedLogin && l.task.errors}" formControlName="task" id="task">
            <div *ngIf="submittedLogin && l.task.errors" class="invalid-feedback">
                <span class="show-error" *ngIf="submittedLogin && l.task.errors.required">Task field is required.<br></span>
            </div>
            <input type="hidden" formControlName="id" id="task_id">
            <button type="submit" class="add_btn" id="addTask">Add Task</button>
            <button type="reset" class="delete_btn" (click)="reset()" style="height: 40px !important;min-width: 68px !important;">Cancel</button>
            <button class="complete_btn" (click)="logout()" style="height: 40px !important;min-width: 68px !important;">Logout</button>
        </form>    
    </div>
    <hr>
    <div class="list-box">
        <div class="list-item" *ngFor="let task of todoLists" [ngClass]="{'done' : task.status === 'Complete'}">
            <div class="list-text">{{task.task}}</div>
            <div class="list-action" *ngIf="task.status !== 'Complete'">
                <button class="edit_btn" (click)="update(task.id)">Edit</button>
                <button class="complete_btn" (click)="complete(task.id)">Complete</button>
                <button class="delete_btn" (click)="delete(task.id)">Delete</button>
            </div>
        </div>
    </div>
</div>