*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.page-wrapper {
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 15px;
}
.list-input-box {
    display: flex;
}
.input-control{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
    outline: 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #666;
}
.add_btn {
    height: 40px;
    border: 0px;
    border-radius: 5px;
    min-width: 92px;
    margin-left: 15px;
    box-shadow: 0px 3px 10px rgba(63, 81, 181, 0.5);
    background: #3F51B5;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
hr{
    margin: 20px 0px;
    border: 0;
    height: 2px;
    background: #3F51B5;
    opacity: 0.2;
    box-shadow: 0px 3px 10px rgba(63, 81, 181, 0.5);
}
.list-item {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item.done {
    background: #4CAF50;
    color: #fff;
}
.list-action{
    display: flex;
    justify-content: space-between;
    margin: 0px -5px;
}
.list-action button{
    margin: 0px 5px;
}
.edit_btn {
    height: 32px;
    border: 0px;
    border-radius: 5px;
    min-width: 45px;
    margin-left: 15px;
    box-shadow: 0px 3px 10px rgba(32, 148, 243, 0.5);
    background: #2196F3;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.delete_btn {
    height: 32px;
    border: 0px;
    border-radius: 5px;
    min-width: 50px;
    margin-left: 15px;
    box-shadow: 0px 3px 10px rgba(244, 67, 54, 0.5);
    background: #f44336;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.complete_btn {
    height: 32px;
    border: 0px;
    border-radius: 5px;
    min-width: 50px;
    margin-left: 15px;
    box-shadow: 0px 3px 10px rgba(244, 67, 54, 0.5);
    background: #f0ad4e;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.show-error {
	color: red;
}