<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Todo<span>List</span></div>
</div>
<br>
<div class="login">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" action="#" method="get">
        <input type="text" placeholder="Email" name="email" [ngClass]="{'is-invalid': submittedLogin && l.email.errors}" formControlName="email"><br>
        <div *ngIf="submittedLogin && l.email.errors" class="invalid-feedback">
            <span class="show-error" *ngIf="submittedLogin && l.email.errors.required">Email is required.<br></span>
            <span class="show-error" *ngIf="submittedLogin && l.email.errors.email">Please enter a valid email address. <br></span>
        </div>
        <input type="password" placeholder="Password" name="password" [ngClass]="{'is-invalid':submittedLogin && l.password.errors}" formControlName="password"><br>
        <div *ngIf="submittedLogin && l.password.errors" class="invalid-feedback">
            <span class="show-error" *ngIf="submittedLogin && l.email.errors.required">Password is required.<br></span>
        </div>
        <input type="submit" value="Login" id="loginBtn"><br>
        <input type="submit" value="Register" [routerLink]="['/register']">
    </form>    
</div>